
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.alert-info {
  color: $color-accent;
  background-color: $color-bg-alt;
}
.alert-warning {
  color: $color-bg;
  background-color: $color-fg;
}
.alert-danger {
  color: $color-bg;
  background-color: $color-accent;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}